Package: lrr
Version: _REPLACE_VERSION_
Architecture: klk_lpbs
Maintainer: Actility Support <support@actility.com>
Priority: optional
Section: misc
Source: http://www.actility.com
Description: lrr product
